html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative; /* make body act like a positioning context */
}

.draggable {
  position: absolute;  /* relative to body */
  top: 0;
  left: 0;
  user-select: none;
  cursor: grab;
}
.draggable:active {
  cursor: grabbing;
}
button {
  position: absolute;
  top: 10px;
  left: 10px;
}