#outer-container {
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 99999;
  width: 400px;
  height: 488px;
  background: var(--bg-default);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 4px 6px -1px rgba(0, 0, 0, 0.06), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
  border-radius: var(--space-32);
  gap: var(--space-24);
  padding: var(--space-24);
  overflow: hidden;
  cursor: grab;
}

#outer-container:active {
  cursor: grabbing;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-icon {
display: flex;
flex-direction: column;
justify-content: center;
width: 32px;
height: 32px;
align-items: center;
border-radius: 100px;
background-color: var(--gray-100);
transition: transform .15s cubic-bezier(.4, 0, .2, 1), background-color .15s cubic-bezier(.4, 0, .2, 1);
}

.button-icon:hover {
  background-color: var(--gray-200);
}

.button-icon:active {
    transform: scale(.96);
}

.button-icon-group {
  display: flex;
  /* vv removes cursor flash between grab and pointer vv */
  cursor: pointer;
  flex-direction: row;
  gap: var(--space-8);
}

.svg-container {
  width: 16px;
  height: 16px;
}

.button-icon svg {
  position: absolute;
  width: 16px;
  height: 16px;
  fill: var(--gray-900);
}

#expand-icon {
  opacity: 0;
}


#note-content {
  flex: 1;
  padding: 8px;
}

#note-text {
  width: 100%;
  height: 100%;
  resize: none;

  /* text color for testing */
  color: black;
}

#note-footer {
  padding: 8px;
  border-top: 1px solid black;
  background: #fef9c3;
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
}